* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 30px;
    text-align: center;
    background-color: ghostwhite;
}

h1 {
    padding-top: 20px;
}

h2 {
    margin: 40px 0 20px;
}

table {
    width: 70%;
    max-width: 900px;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
}

@media screen and (max-width: 650px) {

    body {
        padding: 10px;
    }

    table {
        width: 90%;
    }
}

th,
td {
    border: 1px solid darkgray;
    padding: 10px;
    text-align: left;
}

th {
    background-color: lightblue;
}

.tag {
    width: 15%;
}

.description {
    width: 25%;
}

.code {
    font-family: monospace;
    background-color: #f2f2f2;
}